<button class="close-slideshow btn" onClick={{onItemClear}} type=button>Close</button>
<button class="next-slideshow btn" onClick={{ action "next" }} type=button>Next</button>
<button class="prev-slideshow btn" onClick={{ action "prev" }} type=button>Prev</button>

<img src={{ image.images.original.url }} class="img-fluid" />